# Application Configuration
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=merihcare_user
DB_PASSWORD=merihcare_password
DB_DATABASE=merihcare_db
DB_SSL=false

# Cache Configuration (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT / Security
JWT_SECRET=super_secret_jwt_key_change_me_in_production
JWT_EXPIRATION_TIME=1d

# Outbound Email (Resend / SMTP / Gmail)
RESEND_API_KEY=
RESEND_FROM_EMAIL=Merihcare <otp@merihcare.live>
MAIL_FROM=otp@merihcare.live
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Google OAuth Client IDs
GOOGLE_CLIENT_ID=256475797217-o481d29fdaufp2fp6mmkide2u52ohpp7.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=256475797217-9h81ffre15hi7kdd4iu47rbdg6v50reo.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=256475797217-78541v66iduupfrod43jlc4gh5cf7iun.apps.googleusercontent.com
